* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "Book Antiqua", sans-serif;
    font-size: 2.5rem;
    color: #1e7a7a;
}

.container {
    margin: 0 auto;
    padding: 2.5rem;
    max-width: 85vw;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: black;
}

.meme__title {
    padding: 2.5rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: .01em solid darkgray;
}

input{
    display: none;
}


table.meme__img {
    width: 100%;
}

table.meme__img span{
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 30vw;
}

table.meme__img img {
    cursor: pointer;
}

input:checked ~ .meme__img {
    visibility: visible;
    transition: visibility .3s linear,
    opacity .3s linear;
    opacity: 1;
    cursor: pointer;
}
input:checked ~ .meme__title{
    color: black;
}

.main .container .meme__icon-img {
    display: none;
}

.main .container:hover .meme__icon-img {
    display: block;
}

.meme__icon-img {
    width: 1em;
    height: 1em;
}

.main .container:hover .meme:hover .meme__icon-img {
    cursor: pointer;
    transform: rotate(45deg);
    transition: transform .7s;
}
.main .container:hover {
    color: black;
    pointer-events: auto;
    cursor: pointer;
}

.meme:hover .meme__img {
    visibility: visible;
    transition: visibility .3s linear,
    opacity .3s linear;
    opacity: 1;
    cursor: pointer;
}

.meme__text {
    text-align: center;
}

.meme__img {
    margin: 0 auto;
    opacity: 0;
    transition: visibility .3s linear,
    opacity .3s linear;
    visibility: collapse;

}

.meme__img img  {
    width: 100%;
    cursor: pointer;
}


label {
    cursor: pointer;
}

#meme1:target .meme__icon-img svg {
    fill: red;
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }

    table.meme__img span{
        width: 50vw;
    }
}


@media (max-width: 400px) {
    html {
        font-size: 8px;
    }

    table.meme__img span{
        width: 80vw;
    }
}